.signup {
  padding: 4rem;
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: start;
  position: relative;
  box-sizing: border-box;

  .home {
    font-size: 24px;
    text-decoration: none;
    position: absolute;
    top: 0;
    padding: 1rem 1rem 1rem 0;
  }

  .signup-header {
    width: 100%;
  }

  h1 {
    margin: 0 !important;
    width: 100%;
    box-sizing: border-box;
  }

  .event {
    width: 100%;
    box-sizing: border-box;
    &-body {
      box-sizing: border-box;
      display: flex;
      // flex-wrap: wrap;
      gap: 2rem;
      width: 100%;

      &-photo {
        width: 100%;
        height: auto;
        aspect-ratio: 40/25;
        object-fit: cover;
        &-container {
          box-sizing: border-box;
          width: 100%;
          max-width: 400px;
          min-width: 40%;
        }
      }

      &-description {
        line-height: 26px;
        padding-right: 1rem;
        text-wrap: pretty;
        margin: 0;
      }
    }

    &-rsvp {
      display: flex;
      gap: 1rem;

      &.past {
        pointer-events: none;
        opacity: 0.5;
      }

      button {
        transition: background 0.5s;

        &.active {
          background: green;
        }
      }
    }
  }
}

@media (max-width: 800px) {
  .signup {
    padding: 2rem;

    .home {
      top: 2rem;
    }

    .event {
      &-body {
        flex-wrap: wrap;
      }
    }

    h1 {
      margin-top: 6rem !important;
    }
  }
}
