.events {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;

  &-event {
    position: relative;
    width: calc(100% - 4rem);
    margin-bottom: 2rem;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;

    &:nth-child(2n) {
      flex-direction: row-reverse;
    }

    &-banner,
    &-content {
      width: calc(50% - 1rem);
    }

    &-content {
      &-title {
        margin: 1rem 0;
        white-space: nowrap;

        &:before {
          content: '> ';
        }
      }

      &-description {
        line-height: 1.75rem;
      }
    }
  }
}

@media (max-width: 680px) {
  .events {
    &-event {
      flex-wrap: wrap;

      &-content,
      &-banner {
        width: 100%;
      }
    }
  }
}