.hero {
  width: 100vw;
  height: 100vh;
  // height: calc(100vh - 10rem);
  background: gray;
  position: relative;
  overflow: hidden;
  touch-action: manipulation;
  
  &-images {
    position: absolute;
    inset: 0;
    overflow: hidden;
    &-image {
      position: absolute;
      object-fit: cover;
      width: 100%;
      height: 100%;
      object-position: center;
    }
  }

  &-canvas {
    position: absolute;
  }

  &-logo {
    position: absolute;
    pointer-events: none;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 50vw;
  }
}
