.hero {
  width: 100%;
  height: calc(100vh - 13rem);
  padding: 0;
  margin: 0;
  overflow: hidden;
  position: relative;
  -webkit-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;

  &-logo {
    pointer-events: none;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 90%;
    max-width: 1000px;
    // font-size: 14vh;
    transform: translate(-50%, -50%);
    user-select: none;
    -webkit-touch-callout: none; // iOS long-press menu
    -webkit-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
    touch-action: manipulation;
  }
}