.event-card {
  position: relative;
  height: 300px;
  width: calc(50% - 1rem);

  &-image,
  &-fade,
  &-title {
    position: absolute;
  }

  &-image {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  &-fade {
    width: 100%;
    height: 3.5rem;
    background: rgba(0, 0, 0, .5);
  }

  &-title {
    color: white;
    margin: 1rem;
    white-space: nowrap;
  }

  &-signup {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: rgba(255, 255, 255, .6);
    padding: .5rem 1rem;
    border-radius: 1rem;
    text-decoration: none;
    backdrop-filter: blur(3px);
  }
}


@media (max-width: 680px) {
  .event-card {
    width: 100%;
  }
}