.footer {
  display: flex;
  // flex-direction: column;
  width: 100%;
  height: 10rem;
  background-color: gray;
  align-items: center;

  &-links {
    width: calc(100% - 5rem);
    // outline: 1px solid pink;
    display: flex;
    justify-content: space-around;
  }
}