.signup {
  margin: 4rem auto;
  max-width: 1000px;
  width: calc(100% - 8rem);

  .home {
    font-size: 24px;
    text-decoration: none;
    position: absolute;
    top: 0;
    padding: 1rem 1rem 1rem 0;
  }

  h1 {
    margin: 0 !important;
  }

  .event {
    width: calc(100% - 4rem);

    &-body {
      display: flex;
      // flex-wrap: wrap;
      gap: 2rem;
      width: 100%;

      &-photo {
        width: 400px;
        height: 250px;
        object-fit: cover;
      }

      &-description {
        line-height: 26px;
      }
    }

    &-rsvp {
      display: flex;
      gap: 1rem;

      &.past {
        pointer-events: none;
        opacity: .5;
      }

      button {
        transition: background .5s;

        &.active {
          background: green;
        }
      }
    }
  }
}

@media (max-width: 800px) {

  .signup {
    margin: 2rem;

    .home {
      top: 2rem;
    }

    .event {
      &-body {
        flex-wrap: wrap;
      }
    }

    h1 {
      margin-top: 6rem !important;
    }
  }

}